@{
    Layout = "~/Views/Shared/_LayoutForHome.cshtml";
}

<div style="background:#fff;">
    <div class="container">
        <ul class="nav nav-pills col-md-offset-3 personav">
            <li role="presentation"><a href="#">个人中心</a></li>
            <li role="presentation"><a href="#">公司介绍</a></li>
            <li role="presentation" class="active"><a href="#">产品管理</a></li>
        </ul>
    </div>
</div>
<div class="h_20"></div>
<div class="h_20"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="h_20"></div>
                    <div class="ptitle">
                        <span> 账号及密码管理 </span>
                        <button type="button" class="btn btn-success pull-right">+新产品上传</button>
                        <div class="h_20"></div>
                    </div>
                    <div class="h_20"></div>
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-striped text-center">
                            <thead>
                                <tr class="table-span">
                                    <td>产品名称</td>
                                    <td>当前状态</td>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>芯片芯片芯片</td>
                                    <td><span class="shenhe">已审核</span></td>
                                    <td>
                                        <div class="bianji">
                                            <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> 编辑</a>
                                            <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</a> 
                                        </div>                                     
                                    </td>
                                </tr>
                                <tr>
                                    <td>线路板</td>
                                    <td><span class="noshenhe">未审核</span></td>
                                    <td>
                                        <div class="bianji">
                                            <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> 编辑</a>
                                            <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</a>
                                        </div>        
                                    </td>
                                </tr>
                                <tr>
                                    <td>芯片</td>
                                    <td><span class="nopass">未通过</span></td>
                                    <td>
                                        <div class="bianji">
                                            <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> 编辑</a>
                                            <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</a>
                                        </div>        
                                    </td>
                                </tr>
                                <tr>
                                    <td>芯片</td>
                                    <td><span class="nopass">未通过</span></td>
                                    <td>
                                        <div class="bianji">
                                            <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> 编辑</a>
                                            <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</a>
                                        </div>        
                                    </td>
                                </tr>
                                <tr>
                                    <td>芯片</td>
                                    <td><span class="noshenhe">未审核</span></td>
                                    <td>
                                        <div class="bianji">
                                            <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> 编辑</a>
                                            <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</a>
                                        </div>        
                                    </td>
                                </tr>
                                <tr>
                                    <td>芯片芯片芯片</td>
                                    <td><span class="shenhe">已审核</span></td>
                                    <td>
                                        <div class="bianji">
                                            <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> 编辑</a>
                                            <a href=""><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="h_20"></div>
                    <div class="text-center hui_zmargin">
                        <input class="btn btn-md btn-success hui_button" type="button" value="保存" />
                    </div>
                    <div class="h_20"></div>
                    <div class="h_20"></div>

                </div>
            </div>
        </div>

    </div>

</div>