@{
    Layout = "~/Views/Shared/_LayoutForHome.cshtml";
}

<div style="background:#fff;">
    <div class="container">
        <ul class="nav nav-pills col-md-offset-3 personav">
            <li role="presentation"><a href="#">个人中心</a></li>
            <li role="presentation" class="active"><a href="#">公司介绍</a></li>
            <li role="presentation"><a href="#">产品管理</a></li>
        </ul>
    </div>
</div>
<div class="h_20"></div>
<div class="h_20"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="h_20"></div>
                    <div class="ptitle">
                        <span> 账号及密码管理 </span>
                        <span class="pull-right ptitle-span"><i class="fa fa-reply" aria-hidden="true"></i>返回</span>
                        <div class="h_20"></div>
                    </div>
                    <div class="row">
                        <div class="h_20"></div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group" style="margin:20px 8px;"> 
                                    <span class="input-group-addon">公司名称</span>
                                    <input type="text" class="form-control" placeholder="天津丽嘉科技有限公司">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group hui_input">
                                    <span>logo</span>
                                    <span class="span-margin"><img src="~/Content/images/glogo.jpg" /></span>
                                    <span class="span-margin span-border"><i class="fa fa-upload" aria-hidden="true"></i>上传</span>
                                    <span class="span-margin span-hborder">重新上传</span>
                                </div>
                            </div>
                            <div class="h_20"></div>
                            <div class="col-md-12 col-xs-12">
                                <div class="input-group hui_input">
                                    <span class="input-group-addon">中文介绍</span>
                                    <textarea type="text" rows="4" class="form-control" placeholder="天津丽嘉科技有限公司拥有近十年从事导线架相关产品的制作和研发经验。公司具备各种精密模具的设计及制造技术，并依照客户对于各种导线架的需求，研发团队运用不同的冲压、成型、电镀等技术，陆续开发出：Power Transistor, Diode and Photo Device等所用的各式导线架，并以完整的产品线，供应满足国内外客户的生产需求。丽嘉公司秉承“顾客至上、锐意进取”的经营理念，坚持“客户第一”的原则，为广大客户提供优质的服务。"></textarea>
                                </div>
                            </div>
                            <div class="h_20"></div>
                            <div class="col-md-12 col-xs-12">
                                <div class="input-group hui_input">
                                    <span class="input-group-addon">英文介绍</span>
                                    <textarea type="text" rows="5" class="form-control" placeholder="Tianjin Le-China Hi-Tech Co., Ltd. has almost 10 years’ experience of engagement in manufacturing and developing lead frames and related products. It is in possession of design and manufacturing technology of various precise molds. According to clients’ requirements on lead frames, with different stamping, molding and galvanization technology, etc, our research and development team successively developed various kinds of lead frames used in power transistor, diodes, and photo devices. We meet production demand of customers home and abroad with complete product line. Upholding the operation concept of “the customer is king.“"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="text-center hui_zmargin">
                        <input class="btn btn-md btn-success hui_button" type="button" value="保存" />
                    </div>
                    <div class="h_20"></div>
                    <div class="h_20"></div>

                </div>
            </div>
        </div>

    </div>

</div> 