@using Resources
@{
    var routevalues = new RouteValueDictionary();
    var UpdateTargetId = Request.QueryString["UpdateTargetId"] ?? "loginform";

}
<button type="submit" class="btn btn-success modal-btn">登  录</button>