<?xml version="1.0"?>
<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--用户自定义-->
  <add key="Copyright" value="©2019 cissatmes.com All Rights Reserved" />
  <add key="SystemName" value="运动员训练监控与评价系统" />
  

  <!--上传文件配置开始-->
  <add key="UploadFileRoot" value="userfiles"/>

  <!--是否启用云存储blob-->
  <!--<add key="StorageConnectionString" value="" />-->

  <add key="ImageMaxWidth" value="1000"/>
  <add key="ImageMaxHeight" value="750"/>

  <add key="UploadFilesExtensions" value=".7z,.aiff,.asf,.avi,.bmp,.csv,.doc,.docx,.fla,.flv,.gif,.gz,.gzip,.jpeg,.jpg,.mid,.mov,.mp3,.mp4,.mpc,.mpeg,.mpg,.ods,.odt,.pdf,.png,.ppt,.pptx,.pxd,.qt,.ram,.rar,.rm,.rmi,.rmvb,.rtf,.sdc,.sitd,.swf,.sxc,.sxw,.tar,.tgz,.tif,.tiff,.txt,.vsd,.wav,.wma,.wmv,.xls,.xlsx,.zip,.et,.wps,.dps,.pot,.pps"/>

  <add key="UploadImagesExtensions" value=".bmp,.gif,.jpeg,.jpg,.png"/>

  <!--上传文件配置结束-->

  <!--系统日志保留时常-->
  <add key="LogValidity" value="3650"/>

  <!--企业号配置 企业号CorpID，应用管理组权限CorpSecret，App Token App EncodingAESKey-->

  <!--<add key="BaseUrl" value="http://financeteda.chinacloudsites.cn" />
  <add key="CorpId" value="ww84a1a39271e075f0" />
  <add key="App1CorpSecret" value="KcHleSpX6Tio1MlD-UDcRfZlu6Ez7F_6X-67OlIKkBk" />
  <add key="App1Token" value="7RbtgIfIUHajaMMvtqDXYnibw9qHa" />
  <add key="App1EncodingAESKey" value="6teFeVxiCwnXKoso17KS9fe7hY7tfhuUCUxguw6t5kX" />
  <add key="App1Id" value="1000002" />-->
  
</appSettings>