@{
    Layout = null;
    var Id = ViewContext.RouteData.Values["Id"];
    var title = ViewContext.RouteData.Values["title"];
    var desc = ViewContext.RouteData.Values["desc"];
    var url = ViewContext.RouteData.Values["url"];
}
<div class="bdsharebuttonbox" data-tag="share_1" style="vertical-align:middle;display:inline-block;">
    <a class="bds_tsina" data-cmd="tsina"></a>
    @*<a class="bds_tqq" data-cmd="tqq"></a>*@
    <a class="bds_weixin" data-cmd="weixin"></a>
</div>
<script>
	window._bd_share_config = {
		common : {
			bdText : '@title',
			bdDesc : '@desc',
			bdUrl : '@url'
		},
		share : [{
			"bdSize" : 16
		}],
		//slide : [{
		//	bdImg : 0,
		//	bdPos : "right",
		//	bdTop : 100
		//}],
		//image : [{
		//	viewType : 'list',
		//	viewPos : 'top',
		//	viewColor : 'black',
		//	viewSize : '16',
		//	viewList: ['tqq', 'tsina', 'weixin']
		//}],
		//selectShare : [{
		//    "bdselectMiniList": ['tqq', 'tsina', 'weixin']
		//}]
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
<style>
    .bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more {
        margin: 3px 6px 6px 0;
    }
</style>