
<section class="foot">
    <div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-1">
                <div class="col-xs-8 col-sm-2 col-md-3 col-lg-2">
                    <h2>聚焦泰达</h2>
                    <a href="#">泰达概述</a>
                    <a href="#">企业之窗</a>
                    <a href="#">泰达产品</a>
                    <a href="#">终端产品</a>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-3 col-lg-2">
                    <h2>资讯速递</h2>
                    <a href="#">展览活动</a>
                    <a href="#">泰达动态</a>
                    <a href="#">活动报道</a>
                    <a href="#">展会现场</a>
                    <a href="#">企业风采</a>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-6 col-lg-6">
                    <h2>《贸易泰达》专区</h2>
                    <a href="#">《贸易泰达》汽车产品、装备制造</a>
                    <a href="#">《贸易泰达》电子产品</a>
                    <a href="#">《贸易泰达》现代服务业</a>
                    <a href="#">《贸易泰达》石油化工、食品饮料、生物医药、新能源新材料</a>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-3 col-lg-2">
                    <h2>关于我们</h2>
                    <a href="#">中心简介</a>
                    <a href="#">专业服务</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-1">
                <span>E-MAIL</span><br />
                tradeteda@foxmail.com<br /><br />
                <span>TEL</span><br />
                022- 25201091/ 25202237 / 25202123
                <div class="clearfix h_1em"></div>
                <div class="col-xs-4 text-center">
                    <img src="~/Content/images/weibo_b.jpg" class="img-responsive" />微博
                </div>
                <div class="col-xs-4 text-center">
                    <img src="~/Content/images/weixin_b.jpg" class="img-responsive" />微信
                </div>
            </div>
        </div>
        <div class="copyright">
            主办单位: 天津经济技术开发区贸发局<br />
            技术支持：天津精一科技发展股份有限公司
        </div>
    </div>
</section>