
<section class="head header-box">
    <div class="row logo_share">
        <div class="col-xs-12 col-sm-6 logBox"><img src="~/Content/images/logo.png" class="img-responsive" /></div>
        <div class="col-sm-6 text-right lang_share hidden-xs">
            <a href="#"><img src="~/Content/images/english.png" class="img-responsive" />ENGLISH</a>
            <a href="#"><img src="~/Content/images/weibo.png" class="img-responsive box-shadow" />微博</a>
            <a href="#"><img src="~/Content/images/weibo.png" class="img-responsive box-shadow" />微信</a>
        </div>
    </div>

    <ul class="nav nav-pills mainNav">
        <li role="presentation" class="active"><a href="#">首页</a></li>
        <li role="presentation"><a href="#">聚焦泰达</a></li>
        <li role="presentation"><a href="#">资讯速递</a></li>
        <li role="presentation"><a href="#">《贸易泰达》专区</a></li>
        <li role="presentation"><a href="#">关于我们</a></li>
    </ul>
</section>