
@{
    ViewBag.Title = "楼宇详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-xs-12 col-sm-6">
        <script type="text/javascript" src="~/Scripts/jssor.slider.mini.js"></script>
        <script>
            jQuery(document).ready(function ($) {

                var jssor_1_SlideshowTransitions = [
                    { $Duration: 1200, x: 0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, x: -0.3, $SlideOut: true, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, x: -0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, x: 0.3, $SlideOut: true, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, y: 0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, y: -0.3, $SlideOut: true, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, y: -0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, y: 0.3, $SlideOut: true, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, x: 0.3, $Cols: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Column: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, x: 0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, y: 0.3, $Rows: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Row: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, y: 0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, y: 0.3, $Cols: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Column: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, y: -0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, x: 0.3, $Rows: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Row: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, x: -0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $SlideOut: true, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, $Delay: 20, $Clip: 3, $Assembly: 260, $Easing: { $Clip: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, $Delay: 20, $Clip: 3, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $Jease$.$OutCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, $Delay: 20, $Clip: 12, $Assembly: 260, $Easing: { $Clip: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                    { $Duration: 1200, $Delay: 20, $Clip: 12, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $Jease$.$OutCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 }
                ];

                var jssor_1_options = {
                    $AutoPlay: true,
                    $SlideshowOptions: {
                        $Class: $JssorSlideshowRunner$,
                        $Transitions: jssor_1_SlideshowTransitions,
                        $TransitionsOrder: 1
                    },
                    $ArrowNavigatorOptions: {
                        $Class: $JssorArrowNavigator$
                    },
                    $ThumbnailNavigatorOptions: {
                        $Class: $JssorThumbnailNavigator$,
                        $Cols: 10,
                        $SpacingX: 8,
                        $SpacingY: 8,
                        $Align: 360
                    }
                };

                var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

                //responsive code begin
                //you can remove responsive code if you don't want the slider scales while window resizing
                function ScaleSlider() {
                    var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                    if (refSize) {
                        refSize = Math.min(refSize, 540);
                        jssor_1_slider.$ScaleWidth(refSize);
                    }
                    else {
                        window.setTimeout(ScaleSlider, 30);
                    }
                }
                ScaleSlider();
                $(window).bind("load", ScaleSlider);
                $(window).bind("resize", ScaleSlider);
                $(window).bind("orientationchange", ScaleSlider);
                //responsive code end
            });
        </script>
        <style>
                /* jssor slider arrow navigator skin 05 css */
                /*
            .jssora05l                  (normal)
            .jssora05r                  (normal)
            .jssora05l:hover            (normal mouseover)
            .jssora05r:hover            (normal mouseover)
            .jssora05l.jssora05ldn      (mousedown)
            .jssora05r.jssora05rdn      (mousedown)
            */
                .jssora05l, .jssora05r {
                    display: block;
                    position: absolute;
                    /* size of arrow element */
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    background: url('img/a17.png') no-repeat;
                    overflow: hidden;
                }

                .jssora05l {
                    background-position: -10px -40px;
                }

                .jssora05r {
                    background-position: -70px -40px;
                }

                .jssora05l:hover {
                    background-position: -130px -40px;
                }

                .jssora05r:hover {
                    background-position: -190px -40px;
                }

                .jssora05l.jssora05ldn {
                    background-position: -250px -40px;
                }

                .jssora05r.jssora05rdn {
                    background-position: -310px -40px;
                }

                /* jssor slider thumbnail navigator skin 01 css */
                /*
            .jssort01 .p            (normal)
            .jssort01 .p:hover      (normal mouseover)
            .jssort01 .p.pav        (active)
            .jssort01 .p.pdn        (mousedown)
            */
                .jssort01 .p {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 72px;
                    height: 72px;
                }

                .jssort01 .t {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                }

                .jssort01 .w {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                }

                .jssort01 .c {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 68px;
                    height: 68px;
                    border: #000 2px solid;
                    box-sizing: content-box;
                    background: url('img/t01.png') -800px -800px no-repeat;
                    _background: none;
                }

                .jssort01 .pav .c {
                    top: 2px;
                    _top: 0px;
                    left: 2px;
                    _left: 0px;
                    width: 68px;
                    height: 68px;
                    border: #000 0px solid;
                    _border: #fff 2px solid;
                    background-position: 50% 50%;
                }

                .jssort01 .p:hover .c {
                    top: 0px;
                    left: 0px;
                    width: 70px;
                    height: 70px;
                    border: #fff 1px solid;
                    background-position: 50% 50%;
                }

                .jssort01 .p.pdn .c {
                    background-position: 50% 50%;
                    width: 68px;
                    height: 68px;
                    border: #000 2px solid;
                }

                * html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
                    /* ie quirks mode adjust */
                    width /**/: 72px;
                    height /**/: 72px;
                }
        </style>
        <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 540px; height: 400px; overflow: hidden; visibility: hidden; background-color: #24262e;">
            <!-- Loading Screen -->
            <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
            </div>
            <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 540px; height: 300px; overflow: hidden;">
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/01.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-01.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/02.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-02.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/03.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-03.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/04.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-04.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/05.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-05.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/06.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-06.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/07.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-07.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/08.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-08.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/09.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-09.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/10.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-10.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/11.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-11.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="/Content/img/12.jpg" />
                    <img data-u="thumb" src="/Content/img/thumb-12.jpg" />
                </div>
            </div>
            <!-- Thumbnail Navigator -->
            <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:540px;height:100px;" data-autocenter="1">
                <!-- Thumbnail Item Skin Begin -->
                <div data-u="slides" style="cursor: default;">
                    <div data-u="prototype" class="p">
                        <div class="w">
                            <div data-u="thumbnailtemplate" class="t"></div>
                        </div>
                        <div class="c"></div>
                    </div>
                </div>
                <!-- Thumbnail Item Skin End -->
            </div>
            <!-- Arrow Navigator -->
            <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
            <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>

        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h4><img src="~/Content/images/ico_ly2.png" />泰达MSD-C座 <small style="font-style:italic;">招商热线：<span class="blue">022-66523214</span></small></h4>
        <table class="table table_noborder">
            <tr>
                <td><strong>楼宇编号</strong></td>
                <td>LY00369</td>
                <td><strong>坐落地址</strong></td>
                <td>开发区第一大街79号</td>
            </tr>
            <tr>
                <td><strong>开发单位</strong></td>
                <td>天津泰达发展有限公司</td>
                <td><strong>经营方式</strong></td>
                <td>出租</td>
            </tr>
            <tr>
                <td><strong>产权单位</strong></td>
                <td>天津泰达发展有限公司</td>
                <td><strong>竣工时间</strong></td>
                <td>2011-04</td>
            </tr>
            <tr>
                <td><strong>开业时间</strong></td>
                <td>2010-11</td>
                <td><strong>使用年限</strong></td>
                <td>50年</td>
            </tr>
            <tr>
                <td><strong>物业公司</strong></td>
                <td>天津泰达第一太平物业</td>
                <td><strong>物业资质</strong></td>
                <td>三级</td>
            </tr>
            <tr>
                <td><strong>总建筑面积</strong></td>
                <td>16.0万㎡</td>
                <td><strong>楼宇性质</strong></td>
                <td>综合写字楼</td>
            </tr>
            <tr>
                <td><strong>已使用面积</strong></td>
                <td>0.0万㎡</td>
                <td><strong>总商务面积</strong></td>
                <td>11.0万㎡</td>
            </tr>
            <tr>
                <td><strong>层数</strong></td>
                <td>31</td>
                <td><strong>楼宇高度</strong></td>
                <td>129.0米</td>
            </tr>
            <tr>
                <td><strong>招商意向</strong></td>
                <td>现代服务业</td>
                <td><strong>层高</strong></td>
                <td>4.0米</td>
            </tr>
            <tr>
                <td><strong> 房间面积</strong></td>
                <td>                220.32㎡</td>
                <td><strong>                单层面积</strong></td>
                <td>                1432.2㎡</td>
            </tr>
        </table>

    </div>

    <div class="i_title">
        <span>楼宇特色优势</span>
    </div>
    <div class="h_1em"></div>
    <div class="teseBox">
        <p><img src="~/Content/images/ico_zujin.png" /> 租金：4.5/天/㎡　<img src="~/Content/images/ico_shoujia.png" /> 售价：0.0/㎡</p>
        <p>国际甲级写字楼，地处开发区核心“金十字”位置，依托政府、学校、医疗、商业、公寓等周边成熟配套，被誉为“滨海最贵一平方英里”</p>
    </div>

    <div class="i_title">
        <span>房屋信息列表</span>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="fangwuBox">
                <div class="col-xs-5 text-center">
                    <img src="~/Content/images/ly_huxing.jpg" class="img-responsive" />
                </div>
                <div class="col-xs-7 rightBorder">
                    <h4><img src="~/Content/images/ico_ly2.png" /> 房间号：06 <span class="green pull-right">[出租]</span></h4>
                    所属楼宇：泰达MSD-C座<br />
                    所属楼层：6-33F<br />
                    房间面积：220㎡
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="fangwuBox">
                <div class="col-xs-5 text-center">
                    <img src="~/Content/images/ly_huxing.jpg" class="img-responsive" />
                </div>
                <div class="col-xs-7 rightBorder">
                    <h4><img src="~/Content/images/ico_ly2.png" /> 房间号：06 <span class="green pull-right">[出租]</span></h4>
                    所属楼宇：泰达MSD-C座<br />
                    所属楼层：6-33F<br />
                    房间面积：220㎡
                </div>
                <div class="clearfix"></div>
            </div>
            
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="fangwuBox">
                <div class="col-xs-5 text-center">
                    <img src="~/Content/images/ly_huxing.jpg" class="img-responsive" />
                </div>
                <div class="col-xs-7 rightBorder">
                    <h4><img src="~/Content/images/ico_ly2.png" /> 房间号：06 <span class="green pull-right">[出租]</span></h4>
                    所属楼宇：泰达MSD-C座<br />
                    所属楼层：6-33F<br />
                    房间面积：220㎡
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="fangwuBox">
                <div class="col-xs-5 text-center">
                    <img src="~/Content/images/ly_huxing.jpg" class="img-responsive" />
                </div>
                <div class="col-xs-7 rightBorder">
                    <h4><img src="~/Content/images/ico_ly2.png" /> 房间号：06 <span class="green pull-right">[出租]</span></h4>
                    所属楼宇：泰达MSD-C座<br />
                    所属楼层：6-33F<br />
                    房间面积：220㎡
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    
</div>
