
@{
    ViewBag.Title = "图片列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img src="~/Content/images/list_banner.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="list_thum">
            <div class="col-xs-6 col-sm-3">
                <a href="#"><img src="~/Content/images/list_thum.jpg" class="img-responsive" /></a>
                <h4><a href="#">读懂资本市场、不做资本小白！</a></h4>
                <p>对于正宗的P2P平台来说，很多时候大家下去核实后，仅仅是网站升级，或者是网站被黑客攻击...</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#"><img src="~/Content/images/list_thum.jpg" class="img-responsive" /></a>
                <h4>读懂资本市场、不做资本小白！</h4>
                <p>对于正宗的P2P平台来说，很多时候大家下去核实后，仅仅是网站升级，或者是网站被黑客攻击...</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#"><img src="~/Content/images/list_thum.jpg" class="img-responsive" /></a>
                <h4><a href="#">读懂资本市场、不做资本小白！</a></h4>
                <p>对于正宗的P2P平台来说，很多时候大家下去核实后，仅仅是网站升级，或者是网站被黑客攻击...</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#"><img src="~/Content/images/list_thum.jpg" class="img-responsive" /></a>
                <h4><a href="#">读懂资本市场、不做资本小白！</a></h4>
                <p>对于正宗的P2P平台来说，很多时候大家下去核实后，仅仅是网站升级，或者是网站被黑客攻击...</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#"><img src="~/Content/images/list_thum.jpg" class="img-responsive" /></a>
                <h4><a href="#">读懂资本市场、不做资本小白！</a></h4>
                <p>对于正宗的P2P平台来说，很多时候大家下去核实后，仅仅是网站升级，或者是网站被黑客攻击...</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#"><img src="~/Content/images/list_thum.jpg" class="img-responsive" /></a>
                <h4><a href="#">读懂资本市场、不做资本小白！</a></h4>
                <p>对于正宗的P2P平台来说，很多时候大家下去核实后，仅仅是网站升级，或者是网站被黑客攻击...</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#"><img src="~/Content/images/list_thum.jpg" class="img-responsive" /></a>
                <h4><a href="#">读懂资本市场、不做资本小白！</a></h4>
                <p>对于正宗的P2P平台来说，很多时候大家下去核实后，仅仅是网站升级，或者是网站被黑客攻击...</p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#"><img src="~/Content/images/list_thum.jpg" class="img-responsive" /></a>
                <h4><a href="#">读懂资本市场、不做资本小白！</a></h4>
                <p>对于正宗的P2P平台来说，很多时候大家下去核实后，仅仅是网站升级，或者是网站被黑客攻击...</p>
            </div>
            <div class="clearfix"></div>
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
</div>

